
.layout {
    position: absolute;
    top: 100%; 
    right: 0;
    background-color: #990000; 
    border: 1px solid #FFCC00;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 2;
    min-width: 130px;
}

.dropdown-item {
    padding: 10px;
    text-decoration: none;
    color: #FFCC00;
    display: block;
}

.dropdown-item:hover {
    background-color: #FFCC00;
    color: #990000;
}
